<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>MainPage</servlet-name>
        <servlet-class>com.mycompany.lista4.MainPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZadaniePierwsze</servlet-name>
        <servlet-class>com.mycompany.lista4.ZadaniePierwsze</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZadanieDrugie</servlet-name>
        <servlet-class>com.mycompany.lista4.ZadanieDrugie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZadanieTrzecie</servlet-name>
        <servlet-class>com.mycompany.lista4.ZadanieTrzecie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/MainPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZadaniePierwsze</servlet-name>
        <url-pattern>/ZadaniePierwsze</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZadanieDrugie</servlet-name>
        <url-pattern>/ZadanieDrugie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZadanieTrzecie</servlet-name>
        <url-pattern>/ZadanieTrzecie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
